{% extends 'header.html' %}
{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" href={% static "css/courses.css" %}>
    <h1 class="company">Курсы нашей компании:</h1>
    <hr>
    <table width="120%">
        <tr>
            <th>Название</th>
            <th>Краткое описание</th>
        </tr>
        {% for course in courses %}
            <div class="course">
                <tr>
                    <td><h5><a href="{% url 'courses:course_detail' pk=course.pk %}"> {{ course.name }}</a></h5></td>
                    <td><h6>{{ course.short_description }}</h6></td>
                </tr>
            </div>
        {% endfor %}
    </table>
{% endblock %}