{% extends 'header.html' %}

{% block content %}
    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <div>
        <h1><a href={% url "posts:post_list" %}>Posts</a></h1>
        {% if user.is_authenticated %}
            {% if user.is_superuser %}
                <a href="{% url 'posts:post_draft_list' %}"><span class="glyphicon glyphicon-edit"></span></a>
            {% endif %}
            <a href="{% url 'posts:post_new' %}"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content_post %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}