{% extends 'header.html' %}
{% block content %}
    {% load staticfiles %}
    <table class="table table-hover" width="150%">
        <tr>
            <th>№</th>
            <th>Фамилия Имя</th>
            <th>Адрес</th>
            <th>Skype</th>
            <th>Курсы</th>
        </tr>
        {% for student in students %}
            <div class="course">
                <tr>
                    <td><h6>{{ forloop.counter }}</h6></td>
                    <td><h6><a
                            href={% url 'students:student_detail' pk=student.pk %}>{{ student.surname }} {{ student.name }}
                    </a>
                    </h6></td>
                    <td><h6>{{ student.address }}</h6></td>
                    <td><h6>{{ student.skype }}</h6></td>
                    <td>
                        {#                        {{ student.courses }}#}
                        {% for course in student.courses.all %}
                            <h6><a href={% url 'courses:course_detail' pk=course.pk %}> {{ course.name }}</a></h6>
                        {% endfor %}
                    </td>
                </tr>
            </div>
        {% endfor %}
    </table>
{% endblock %}