{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href={% url 'home' %}>PyCloud</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class><a href={% url 'home' %}>Home <span class="sr-only"></span></a></li>
                <li class><a href={% url 'posts:post_list' %}>Blog</a></li>
                <li class><a href={% url 'polls:index' %}>Polls</a></li>
                <li class><a href={% url 'courses:courses_list' %}>Courses</a></li>
                {% if "/course/" in request.get_full_path and request.get_full_path|length > 8%}
                      <li class><a href={% url 'students:students_list' pk=request.get_full_path|cut:"/"|cut:"course" %}>Students</a></li>
                {% else %}
                    <li class><a href={% url 'students:students_full_list' %}>Students</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a class="login">Wellcome, {{ user.username }}</a></li>
                    <a href={% url 'logout' %}>
                        <button type="button" class="btn btn-default navbar-btn">Log out</button>
                    </a>
                {% else %}
                    <a href={% url 'login' %}>
                        <button type="button" class="btn btn-default navbar-btn">Sign in</button>
                    </a>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="{% static 'js/navbar.js' %}"></script>
</body>
</html>